*.safetensors filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
D:/chromdownload/MiniLM-L12-H384-uncased-beavertails-final/MiniLM-L12-H384-uncased-beavertails-final filter=lfs diff=lfs merge=lfs -text
